contourpy
cycler
fonttools
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
scipy
seaborn
six
requests
bs4
yfinance
tabulate
regex
pytz
selenium
webdriver_manager
autopep8
black
pylint
flake8
openpyxl
scrapy
schedule
pyspark
py4j
cloudpickle
etfdb
MetaTrader5